---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import Markdown from "../../layouts/Markdown.astro";
import Breadcrumbs from "../../components/breadcrumbs.astro";

export async function getStaticPaths() {
  const highlights = await getCollection("highlights");
  return highlights.map((feature) => ({
    params: { slug: feature.slug },
    props: { ...feature },
  }));
}
type Props = CollectionEntry<"highlights">;

const feature = Astro.props;
const { Content } = await feature.render();
const { title, lead, image } = feature.data;
---

<Layout title={title}>
  <div class="py-6 px-4 container max-w-5xl mx-auto">
    <Breadcrumbs
      links={[
        { title: "Highlights", href: "/highlights" },
        { title, href: feature.slug },
      ]}
    />
  </div>
  <section class="container py-20 mx-auto">
    <main class="mx-auto max-w-5xl p-4 min-h-screen">
      <h1 class="text-6xl font-heading mb-5 mt-3">{title}</h1>
      {lead && <p class="italic mb-5">{lead}</p>}
      {image && <Image src={image} alt={title} />}
      <Markdown>
        <Content />
      </Markdown>
    </main>
  </section>
</Layout>
