---
import Layout from "../layouts/Layout.astro";
import screenBook1Image from "../assets/screen-book-1.png";
import screenBook2Image from "../assets/screen-book-2.png";
import screenBookingsImage from "../assets/screen-bookings.png";
import screenBookingImage from "../assets/screen-booking.png";
import screenUsagesImage from "../assets/screen-usages.png";
import screenInvoicesImage from "../assets/screen-invoices.png";
import screenProcessesImage from "../assets/screen-processes.png";
import screenTenantImage from "../assets/screen-tenant.png";
---

<Layout title="Features · HeimV – Die Heimverwaltungssoftware">
  <section class="container mx-auto max-w-5xl p-4">
    <h1 class="font-heading text-[clamp(4vw,8vw,3rem)] leading-snug text-center font-bold mx-5 my-[4em]">Features</h1>
    <h2 class="text-4xl mt-10 mb-5 font-heading" id="feature-bookings" class="feature-title">Reservationsanfragen</h2>
    <figure class="block mb-10">
      <img src={screenBook1Image.src} alt="" width={1542} height={1138} />
      <figcaption class="text-center">Reservationsformular Schritt 1</figcaption>
    </figure>
    <figure class="block mb-10">
      <img src={screenBook2Image.src} alt="" width={1542} height={1138} />
      <figcaption class="text-center">Reservationsformular Schritt 2</figcaption>
    </figure>
    <figure class="block mb-10">
      <img src={screenBookingsImage.src} alt="" width={1542} height={1138} />
      <figcaption class="text-center">Verwaltungsansicht</figcaption>
    </figure>
    <h2 class="text-4xl mt-10 mb-5 font-heading" id="feature-tarifs" class="feature-title">Tarife und Verbrauch</h2>
    <figure class="block mb-10">
      <img src={screenBookingImage.src} alt="" width={1542} height={1138} />
      <figcaption class="text-center">Buchungsansicht</figcaption>
    </figure>
    <figure class="block mb-10">
      <img src={screenUsagesImage.src} alt="" width={1542} height={1138} />
      <figcaption class="text-center">Verbrauch</figcaption>
    </figure>
    <figure class="block mb-10">
      <img src={screenTenantImage.src} alt="" width={1542} height={1138} />
      <figcaption class="text-center">Mieterübersicht</figcaption>
    </figure>
    <h2 class="text-4xl mt-10 mb-5 font-heading" id="feature-invoices" class="feature-title">
      Rechnungen und Zahlungen
    </h2>
    <figure class="block mb-10">
      <img src={screenInvoicesImage.src} alt="" width={1542} height={1138} />
      <figcaption class="text-center">Rechnungsübersicht</figcaption>
    </figure>
    <h2 class="text-4xl mt-10 mb-5 font-heading" id="feature-process" class="feature-title">Prozess</h2>
    <figure class="block mb-10">
      <img src={screenProcessesImage.src} alt="" width={1542} height={1138} />
    </figure>
  </section>
</Layout>
