---
import { getCollection } from "astro:content";
import screenHomeImage from "../assets/screen-home.png";
import screensImage from "../assets/screens.png";
import Layout from "../layouts/Layout.astro";

const articles = await getCollection("articles");
---

<Layout title="HeimV – Die Heimverwaltungssoftware" transparent={true}>
  <section
    class="container mx-auto max-w-5xl p-4 h-[80vh] flex flex-col justify-center align-center relative"
  >
    <h1
      class="text-heimv-50 font-heading text-[clamp(4vw,8vw,3rem)] leading-snug text-center font-bold mx-5 mb-10"
    >
      <div class="text-heimv-700">Das Verwaltungs&shy;werkzeug</div>
      <div>für Pfadi- und Gruppen&shy;häuser</div>
      <!-- <div class="text-[0.4em] text-heimv-100 pt-5">von der Stiftung Pfadiheime Schweiz</div> -->
    </h1>
    <div
      id="hero-image"
      class="absolute top-[90%] w-full left-0 transition-transform ease-out duration-100 motion-reduce:transition-none"
    >
      <img src={screenHomeImage.src} alt="HeimV" width={1542} height={1138} />
    </div>
  </section>

  <section
    class="container mx-auto max-w-5xl p-4 h-screen flex flex-col justify-center align-center"
  >
    <h1
      class="font-heading text-[clamp(4vw,8vw,3rem)] leading-snug text-heimv-900 text-center font-bold mx-5 my-[4em]"
    >
      Reservations&shy;verwaltung<br />von
      <strong class="text-[1.5em] text-effect-gradient">A</strong>nfrage bis
      <strong class="text-[1.5em] text-effect-gradient">Z</strong>ahlung
    </h1>
  </section>

  <section class="container mx-auto max-w-5xl p-4">
    <h2 class="text-4xl mt-10 mb-5 font-heading">Die Vorteile</h2>
    <ul>
      <li class="pb-5">
        <span class="font-bold text-heimv-700 font-heading me-1 text-2xl"
          >HeimV</span
        > vereinfacht die Verwaltung von Reservationen und spart damit Zeit, Geld
        und Nerven.
      </li>
      <li class="pb-5">
        <span class="font-bold text-heimv-700 font-heading me-1 text-2xl"
          >HeimV</span
        > ist genau auf die Bedürfnisse von Schweizer Pfadiheimen und Gruppenhäusern
        zugeschnitten.
      </li>
      <li class="pb-5">
        <span class="font-bold text-heimv-700 font-heading me-1 text-2xl"
          >HeimV</span
        > bietet alles wichtige aus einer Hand:
        <a
          href="#articles"
          class="text-heimv-700 underline hover:text-heimv-600">alle Features</a
        >
      </li>
      <li class="pb-5">
        <span class="font-bold text-heimv-700 font-heading me-1 text-2xl"
          >HeimV</span
        > wird in der Schweiz entwickelt und betrieben. Alle Daten sind auf Servern
        in der Schweiz.
      </li>
    </ul>
  </section>

  <section class="container mx-auto max-w-5xl p-5">
    <h2 class="text-4xl mt-10 mb-5 font-heading" id="hightlights">
      Die Highlights
    </h2>
    <a href="/articles">
      <figure>
        <!-- <img src={screensImage.src} alt="" width={1200} height={886} /> -->
        <img
          class="my-10 mx-auto"
          src={screensImage.src}
          alt=""
          width={800}
          height={590}
        />
      </figure></a
    >
    <ul class="list-disc ps-6">
      {
        articles.map((feature) => {
          if (!feature.data.homepage) return;

          return (
            <li class="pb-4">
              <a class="block" href={`/articles/${feature.id}`}>
                <h3 class="mt-0 font-bold underline text-heimv-700 hover:text-heimv-600">
                  {feature.data.title}
                </h3>
                <p>{feature.data.lead}</p>
              </a>
            </li>
          );
        })
      }
    </ul>
    <p class="my-10">
      Alles bequem über den Browser. <a
        class="underline text-heimv-700 hover:text-heimv-600"
        href="features">Alle features in der Übersicht</a
      >
    </p>
  </section>

  <section class="container mx-auto max-w-5xl p-4">
    <h2 class="text-4xl mt-10 mb-5 font-heading" id="articles">Die Story</h2>
    <p class="mb-5">
      HeimV wurde als Werkzeug für den gesamten Buchungs- und Abrechnungsprozess
      für die Heime des <a
        class="underline text-heimv-700 hover:text-heimv-600"
        href="https://pfadi-heime.ch">Vereins Pfadiheime St. Georg</a
      > 2018 konzipiert und umgesetzt. Seit Anfang 2019 ist HeimV im produktiven
      Einsatz.
    </p>
    <p class="mb-5">
      2020 kamen erste, weitere Heimvereine dazu. Seit 2021 steht HeimV unter
      der Schirmherrschaft der
      <a
        class="underline text-heimv-700 hover:text-heimv-600"
        href="https://stiftung-pfadiheime.ch/">Stiftung Pfadiheime Schweiz</a
      >. Sie unterstützt die Weiterentwicklung und subventioniert den Betrieb
      von HeimV für Pfadiheime .
    </p>
    <p class="mb-5">
      HeimV ist für die Eingennutzung von Vereinen open source. (<a
        class="underline text-heimv-700 hover:text-heimv-600"
        href="https://github.com/diegosteiner/heimv">GitHub</a
      >). Kommerzielle Anbieter benötigen eine Lizenz, um HeimV verwenden zu
      dürfen.
    </p>
  </section>

  <section class="container mx-auto max-w-5xl p-4">
    <h2 class="text-4xl mt-10 mb-5 font-heading" id="articles">Die Preise</h2>

    <div class="my-12 grid gap-8 mx-auto lg:grid-cols-3">
      <div class="rounded-2xl shadow-sm p-7 bg-gray-50 hover:bg-white">
        <h3 class="text-2xl font-heading text-gray-900">Standard</h3>
        <p class="mt-4 text-gray-600">Verwaltung von ein bis zwei Mietobjekten.</p>
        <p class="mt-6 text-4xl font-extrabold text-gray-900">
          Fr. 30.–<span class="text-lg font-medium">/Monat</span>
        </p>
        <ul class="mt-6 space-y-3 text-sm text-gray-700 list-disc ps-4">
          <li>zzgl. Einrichtungsgebühr Fr. 300.–</li>
          <li>jedes weitere Mietobjekt Fr. 10.–</li>
          <li>Sicheres Hosting in der Schweiz</li>
          <li>Best-Effort E-mail Support</li>
        </ul>
        <a
          class="block text-center mt-8 w-full bg-gray-600 text-white py-2 px-4 rounded-xl"
          href="mailto:info@heimv.ch"
          >Los geht's!</a
        >
      </div>

      <div class="border border-heimv-500 rounded-2xl shadow-lg p-7 bg-heimv-50 hover:bg-white scale-110">
        <h3 class="text-2xl font-heading text-heimv-900">Pfadiheime</h3>
        <p class="mt-4 text-gray-600">Verwaltung von ein bis zwei Pfadiheimen.</p>
        <p class="mt-6 text-4xl font-extrabold text-heimv-900">
          Fr. 20.–<span class="text-lg font-medium">/Monat</span>
        </p>
        <ul class="mt-6 space-y-3 text-sm text-heimv-900 list-disc ps-4">
          <li>Keine Einrichtungsgebühr</li>
          <li>Jedes weitere Mietobjekt Fr. 5.–</li>
          <li>Sicheres Hosting in der Schweiz</li>
          <li>Best-Effort E-mail Support</li>
        </ul>
        <a
          class="block text-center mt-8 w-full bg-heimv-800 text-white py-2 px-4 rounded-xl"
          href="mailto:info@heimv.ch"
          >Los geht's!</a
        >
      </div>

      <div class="rounded-2xl shadow-sm p-7 bg-gray-50 hover:bg-white">
        <h3 class="text-2xl font-heading text-gray-900">Self-hosted</h3>
        <p class="mt-4 text-gray-600">Verwaltung im Eigengebrauch.</p>
        <p class="mt-6 text-4xl font-extrabold text-gray-900">
          Gratis<span class="text-lg font-medium"></span>
        </p>
        <ul class="mt-6 space-y-3 text-sm text-gray-700 list-disc ps-4">
          <li>Volle Kontrolle über Hosting und Daten</li>
          <li>Pull-Requests und Sponsorings willkommen</li>
          <li>Best-Effort E-mail Support</li>
        </ul>
        <a
          class="block text-center mt-8 w-full bg-gray-800 text-white py-2 px-4 rounded-xl"
          href="https://github.com/diegosteiner/heimv">Code auf github</a
        >
      </div>
    </div>
    <p class="mt-5 text-gray-600 text-sm text-center">Alle Preise in CHF. Preise können sich ändern. Es gelten die beim Abschluss gültigen Konditionen sowie die <a class="underline text-heimv-700 hover:text-heimv-600" href="/terms">AGB</a>.</p>
    </section>

    <section class="container mx-auto max-w-5xl p-4">
      <div
        class="rounded-lg bg-circle p-10 text-xl text-heimv-50 my-[20vh] h-[40vh] flex flex-col justify-center"
      >
        <h2 class="mb-8 text-4xl font-heading text-center">
          Demonstration gefällig?
        </h2>
        <p class="text-center">
          Möchtet ihr HeimV unverbindlich ausprobieren?

          <a class="underline hover:text-heimv-600" href="mailto:info@heimv.ch"
            >Demozugang jetzt bei Filou beantragen</a
          >
        </p>
      </div>
    </section>
  </section>

  <style lang="scss">
    body {
      background-image: url("/background.svg");
      background-position: top center;
      background-size: 100vw 95vh;
      background-repeat: no-repeat;
    }

    @media (orientation: portrait) {
      body {
        background-size: auto 90vh;
      }
    }
  </style>

  <script>
    const heroImage = document.getElementById("hero-image");

    addEventListener("scroll", (event) => {
      if (!heroImage) return;
      const top = -window.scrollY / 2;
      heroImage.style.transform = `translateY(${top}px)`;
    });
  </script>
</Layout>
