---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import { Image } from "astro:assets";
import Markdown from "../../../layouts/Markdown.astro";

export async function getStaticPaths() {
  const features = await getCollection("features");
  return features.map((feature) => ({
    params: { slug: feature.slug },
    props: { ...feature },
  }));
}
type Props = CollectionEntry<"features">;

const feature = Astro.props;
const { Content } = await feature.render();
const { title, lead, image } = feature.data;
---

<Layout title={title}>
  <main class="container mx-auto max-w-5xl p-4 min-h-screen">
    <h1 class="text-5xl font-heading text-center">{title}</h1>
    {image && <Image src={image} alt={title} />}
    {lead && <p class="text-center italic">{lead}</p>}
    <Markdown>
      <Content />
    </Markdown>
  </main>
</Layout>
