---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection, render } from "astro:content";
import Breadcrumbs from "../components/breadcrumbs.astro";
import Layout from "./Layout.astro";
import Markdown from "./Markdown.astro";

const { frontmatter } = Astro.props;
const { title, lead, image } = frontmatter;
---

<Layout title={title}>
  <div class="py-6 px-4 container max-w-5xl mx-auto">
    <Breadcrumbs
      links={[
        { title: "Dokumentation", href: "/articles" },
        { title, href: frontmatter.id },
      ]}
    />
  </div>
  <section class="container py-20 mx-auto">
    <main class="mx-auto max-w-5xl p-4 min-h-screen">
      <h1 class="text-6xl font-heading mb-5 mt-3 break-words">{title}</h1>
      {lead && <p class="italic">{lead}</p>}
      {image && <Image src={image} alt={title} />}
      <div class="my-24"></div>
      <Markdown>
        <slot />
      </Markdown>
    </main>
  </section>
</Layout>
